body {
    background: linear-gradient(120deg, #efe6ff, #f9f5ff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.calculator {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(120, 90, 180, 0.3);
    text-align: center;
}

.icon {
    width: 70px;
}

h1 {
    color: #5a3ea1;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* HORIZONTAL GRID */
.buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
}

button {
    padding: 10px;
    background: #9f7aea;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #7b5cff;
}

.zero {
    grid-column: span 2;
}

.wide {
    grid-column: span 4;
    background: #5a3ea1;
}